This file creates a PPMI matrix of the recipe ingredients given a co-occurrence matrix.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#maxwell path
path = '/content/drive/MyDrive/MSIM/'

# ken path
path = ''

#converts 0th column to the row labels
co_matrix_df = pd.read_csv(path + 'cooccurrence_matrix.csv', index_col=0)
co_matrix_df

,0,1,2,3,4,5,6,7,8,9,...,8013,8014,8015,8016,8017,8018,8019,8020,8021,8022
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,1,0
8019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
8020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8021,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,1,8,0,0,0
8022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#trivial case confirms the logic
#trivial = np.array([[0,0,0,0],[10, 5, 2,0],[5,15,3,0],[2,3,8,0]])
#co_matrix_df = pd.DataFrame(trivial)

In [ ]:
import numpy as np
import pandas as pd

def ppmi(cooccurrence_df):
    #converts df to a form numpy can work with
    co_occurrence_matrix = cooccurrence_df.values

    #relevant sums
    total_occurrences = np.sum(co_occurrence_matrix)
    row_sum = co_occurrence_matrix.sum(axis=1)
    col_sum = co_occurrence_matrix.sum(axis=0)

    # Calculate the PPMI matrix
    pmi_matrix = np.log2((total_occurrences * co_occurrence_matrix) / (row_sum.reshape((-1, 1)) * col_sum))

    #replaces the ensuing nans(from zero division) with zeros
    pmi_matrix = np.nan_to_num(pmi_matrix, nan=0.0)

    #converts the pmi matrix into a ppmi matrix
    pmi_matrix[pmi_matrix < 0] = 0

    return pmi_matrix

In [ ]:
ppmi_matrix = ppmi(co_matrix_df)

<ipython-input-8-2b6c52a910ff>:14: RuntimeWarning: invalid value encountered in true_divide
  pmi_matrix = np.log2((total_occurrences * co_occurrence_matrix) / (row_sum.reshape((-1, 1)) * col_sum))
<ipython-input-8-2b6c52a910ff>:14: RuntimeWarning: divide by zero encountered in log2
  pmi_matrix = np.log2((total_occurrences * co_occurrence_matrix) / (row_sum.reshape((-1, 1)) * col_sum))

In [ ]:
ppmi = pd.DataFrame(ppmi_matrix)
ppmi.to_csv('/content/drive/My Drive/IMT575Final/' + 'ppmi.csv') # maxwell
#ppmi.to_csv("/content/drive/My Drive/IMT575_HW1/ppmi.csv") #Ken's path

In [ ]:
ppmi

,0,1,2,3,4,5,6,7,8,9,...,8013,8014,8015,8016,8017,8018,8019,8020,8021,8022
0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
1,0.0,0.00000,12.18912,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
2,0.0,12.18912,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
3,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
4,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,9.465406,0.000000,0.0,0.932000,0.0
8019,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.852881,0.0
8020,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
8021,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,3.960569,0.0,0.0,...,0.0,0.0,0.116585,0.0,0.0,0.932000,0.852881,0.0,0.000000,0.0
8022,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0